.reelbackground {
  min-height: 20vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(158, 156, 156);
  background-blend-mode: multiply;
  background-image: url("https://ychef.files.bbci.co.uk/1200x675/p08h02kk.jpg");
}

@media screen and (min-width: 768px) {
  .reelbackground {
    min-height: 25vh;
  }
}

@media screen and (min-width: 992px) {
  .reelbackground {
    min-height: 50vh;
  }
}
